<% if comment.parent_id.nil? && comment.user  %>

<div id="comments-<%= comment.id %>">

    <div id="<%= dom_id(comment) %>" class="comment">
        <strong><%= link_to comment.user.name, comment.user %></strong> |
        <% if current_user?(comment.user) || current_user.admin? %>
        <%= link_to "delete", [comment.micropost, comment], data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
        <p><%= comment.content %></p>
        <% if comment.image.attached? %>
        <%= image_tag comment.image.variant(:display) %>
        <% end %>

        <!-- Nút Reply -->
        <div x-data="{ open: false }">
            <button @click="open = !open" class="btn btn-link btn-sm text-blue-500">Reply</button>

            <!-- Form trả lời bình luận -->
            <div x-show="open" class="mt-2">
                <%= render partial: "comments/form_child", locals: { comment: comment } %>
            </div>
        </div>
        <!-- Hiển thị các bình luận con -->
        <% if comment.replies.any? %>
        <div x-data="{ showReplies: false }" class="replies mt-2">
            <button @click="showReplies = !showReplies" class="btn btn-link btn-sm text-blue-500">
                <span x-show="!showReplies">Xem thêm bình luận (<span id="number_comment_<%= comment.id %>" ><%= comment.big_replies.count %></span>)</span>
                <span x-show="showReplies">Ẩn bình luận</span>
            </button>
            <div id="replies_<%= comment.id %>" x-show="showReplies" class="ml-4 border-l-2 border-gray-300 pl-4">
                <% render comment.big_replies %>
            </div>

        </div>
        <% end %>
    </div>

</div>

<% end  %>